{% extends 'base.html.twig' %}

{% block maintitle %}Projects{% endblock %}

{% block title %}
	<div class="well pull-right" id="links-right-title">
		<ul class="nav nav-pills nav-stacked">
			<li{% if filter != 'big' and filter != 'small' %} class="active"{% endif %}>
				<a href="?filter=all{% if query is not null %}&amp;q={{ query }}{% endif %}">
					All projects
				</a>
			</li>
			<li title="Websites, web apps..."{% if filter == 'big' %} class="active"{% endif %}>
				<a href="?filter=big{% if query is not null %}&amp;q={{ query }}{% endif %}">
					Only big projects
				</a>
			</li>
			<li title="jQuery plugins..."{% if filter == 'small' %} class="active"{% endif %}>
				<a href="?filter=small{% if query is not null %}&amp;q={{ query }}{% endif %}">
					Only small projects
				</a>
			</li>
		</ul>
		<form action="" method="get" class="form-search">
			<input type="search" name="q" class="input-medium search-query" placeholder="Search for something..."{% if query is not null %} value="{{ query }}"{% endif %}>
			{% if filter is not null %}
			<input type="hidden" name="filter" value="{{ filter }}" />
			{% endif %}
			<button type="submit" class="btn">Search</button>
		</form>
	</div>
	<h1>Projects</h1>
	<p>What I do, what I have done, and what I want to do</p>
	<div class="clear"></div>
{% endblock %}

{% block content %}
	{% for id, project in projects %}
		<div class="well" id="{{ id }}">
			<div class="page-header">
				<div class="pull-right"><a href="#{{ id }}" class="permalink">Permalink</a></div>
				<h1>{{ project.title }} <small>{{ project.subtitle|raw }}</small></h1>
			</div>
			<aside class="pull-right">
				<h6>More info</h6>
				<dl class="dl-horizontal">
					{% for title, value in project.infos %}
						<dt>{{ title }}</dt> <dd>{{ value|raw }}</dd>
					{% endfor %}
				</dl>
			</aside>
			
			{{ project.content|raw }}

			<p>
				{% for button in project.buttons %}
					<a href ="{{ button.url }}" class="btn{% if button.type is defined %} btn-{{ button.type}}{% endif %}{% if button.class is defined %} {{ button.class}}{% endif %}">
					   	{% if button.icon is defined %}
					   		<span class="icon-{{ button.icon }}"></span> 
					   	{% endif %}
					  	{{ button.text }}
					</a>
				{% endfor %}
			</p>
			<div class="clear"></div>
		</div>
	{% else %}
		<div class="well">
			<p class="allBlock">
				Sorry, no project found.
			</p>
			<div class="clear"></div>
		</div>
	{% endfor %}
{% endblock %}