{% extends 'base.html.twig' %}

{% block maintitle %}QRCode Generator | Opera extensions{% endblock %}

{% block title %}
	<h1>QRCode Generator</h1>
	<p>An Opera extension</p>
{% endblock %}

{% block stylesheets %}
<style type="text/css">
	.dl-horizontal dt {
		width: 50px;
	}
	.dl-horizontal dd {
		margin-left: 60px;
	}
	small {
		font-size: 12px;
	}
</style>
{% endblock %}

{% block content %}
	<div class="well">
		<div class="page-header">
			<h1>What's that?</h1>
		</div>
		<div class="row-fluid">
			<div class="span6">
				<p>
					This is an add-on for Opera browser who shows a QRCode of the current page in a popup. 
					Then, you can quickly transfer a webpage from your browser to your smartphone, for example.
				</p>
				<p>
					A problem with this add-on? <a href="{{ path('contact') }}">Contact me</a> ;) .
				</p>
			</div>
			<div class="span6">
				<div class="alert alert-success alert-block">
					<h4 class="alert-heading">Compatibility with Opera 11.x</h4>
					Compatibility with Opera 11.x have been fixed on the last version (1.1).
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>

	<div class="well">
		<div class="page-header">
			<h1>Download, install, and enjoy! <small>How can I integrate this to my Opera browser?</small></h1>
		</div>

		<div class="row-fluid">
			<div class="span6">
				<h2>Download &amp; install</h2>
				<p>You can download this add-on by following this link:</p>
				<p class="center"><br />
					<a href="{{ app.request.basePath }}/files/Opera/QRCode/QRCode-1.1.oex" class="btn btn-primary">
						<span class="icon-download"></span> 
						Download <strong>QRCode Generator</strong>
					</a><br />
					<small>File size: 45 Ko</small>
				</p>

				<p>You can also download this add-on on the official add-ons website:</p>
				<p class="center"><br />
					<a href="https://addons.opera.com/fr/extensions/details/qrcode-generator/?display=en#feedback-container" class="btn btn-primary">
						<span class="icon-download"></span> 
						<strong>QRCode Generator</strong> on Opera's website
					</a><br />
				</p>
				<p>Current version is <strong>1.1</strong>.</p>
				<p>This add-on is licensed under an  <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0 License</a>.</p>

				<h3>Changelog</h3>
				<dl class="dl-horizontal">
					<dt>1.1</dt>
					<dd>
						Fixed compatibility with Opera 11.x.<br />
						<small><a href="https://github.com/Bubbendorf/OperaQRCode/tree/b3385e0d46baafb8a1ab73a828a72ce7d3e3d713">On Github</a> | <a href="{{ app.request.basePath }}/files/Opera/QRCode/QRCode-1.1.oex">Download</a></small>
					</dd>

					<dt>1.0</dt>
					<dd>
						Initial version. Only compatible with Opera 12.x.<br />
						<small><a href="https://github.com/Bubbendorf/OperaQRCode/tree/088846005c49d72281680148887d9853ca40050b">On Github</a> | <a href="{{ app.request.basePath }}/files/Opera/QRCode/QRCode-1.0.oex">Download</a></small>
					</dd>
				</dl>
			</div>
			<div class="span6">
				<h2>Enjoy!</h2>
				<p>Then, when you are in a webpage, just click the small QRCode on the toolbar ;) .</p>
				<div class="thumbnail pull-right">
					<img src="{{ app.request.basePath }}/files/Opera/QRCode/Screenshot.png" alt="Screenshot of this add-on">
				</div>
			</div>
		</div>
		<div class="clear"></div>
	</div>


{% endblock %}