{% extends 'base.html.twig' %}

{% block page_title %}Statistiques de population de serveurs{% endblock %}
{% block content_title %}Statistiques de population de serveurs{% endblock %}
{% block content_subtitle %}Mumble & Minecraft{% endblock %}

{% block stylesheets %}
<style type="text/css">
    h2 {
        margin-bottom: 20px;
    }
    .full-color {
        display: inline-block;
        margin-top: 0px;
        width: 25px;
        height: 15px;
        border-radius: 4px;
    }
</style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <h2>Serveurs Minecraft</h2>

            <div class="list-group">
                <a href="{{ path('tools.server_stats', {'server_type': 'minecraft', 'ips': 'zcraft.fr'}) }}" class="list-group-item">
                    <div class="row">
                        <div class="col-xs-1 col-md-1 text-center"><i class="fa fa-check" style="color:#00AA00"></i></div>
                        <div class="col-xs-9 col-md-10">Zcraft</div>
                        <div class="col-xs-1 col-md-1"><span class="fa fa-square" style="color: #009000"></span></div>
                    </div>
                </a>

                {% for server in servers_minecraft %}
                    <a href="{{ path('tools.server_stats', {'server_type': 'minecraft', 'ips': server.ip}) }}" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-1 col-md-1 text-center">
                                {% if server.last_ping == server.last_successful_ping %}
                                    <i class="fa fa-check tooltip-top" style="color:#00AA00" title="Fonctionnel"></i>
                                {% else %}
                                    <i class="fa fa-exclamation-triangle tooltip-top" style="color:#FF0000" title="Inaccessible depuis le {{ server.last_successful_ping|date('d/m/Y à H:i') }}"></i>
                                {% endif %}
                            </div>
                            <div class="col-xs-9 col-md-10">{{ server.name }}</div>
                            <div class="col-xs-1 col-md-1"><span class="fa fa-square" style="color: {{ server.color }}"></span></div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>

        <hr class="visible-xs-block visible-sm-block" />

        <div class="col-md-6">
            <h2>Serveurs Mumble</h2>

            <div class="list-group">
                {% for server in servers_mumble %}
                    <a href="{{ path('tools.server_stats', {'server_type': 'mumble', 'ips': server.ip}) }}" class="list-group-item">
                        <div class="row">
                            <div class="col-xs-1 col-md-1 text-center">
                                {% if server.last_ping == server.last_successful_ping %}
                                    <i class="fa fa-check tooltip-top" style="color:#00AA00" title="Fonctionnel"></i>
                                {% else %}
                                    <i class="fa fa-exclamation-triangle tooltip-top" style="color:#FF0000" title="Inaccessible depuis le {{ server.last_successful_ping|date('d/m/Y à H:i') }}"></i>
                                {% endif %}
                            </div>
                            <div class="col-xs-9 col-md-10">{{ server.name }}</div>
                            <div class="col-xs-1 col-md-1"><span class="fa fa-square" style="color: {{ server.color }}"></span></div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
