{% extends 'base.html.twig' %}

{% block page_title %}Activité Steam{% endblock %}
{% block content_title %}Activité Steam{% endblock %}
{% block content_subtitle %}{{ activity[0]['steam_name'] }} {% if activity[0]['steam_realname'] is not empty %}({{ activity[0]['steam_realname'] }}){% endif %}{% endblock %}

{% block content_header %}
<div class="pull-right">
    <div class="dropdown">
        <button class="btn" id="button-available-users" data-toggle="dropdown" role="button" data-target="button-available-users-list" aria-haspopup="true" aria-expanded="false">
            <span class="visible-xs-inline visible-sm-inline"><span class="fa fa-steam"></span></span>
            <span class="visible-md-inline visible-lg-inline">Sélection d'une personne</span>
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right" aria-labelledby="button-available-users" id="button-available-users-list">
            {% for user in tracked %}
                <li>
                    <a href="{{ path('tools.steam', {'key': key, 'steamid': user['steam_id']}) }}">
                        {{ user['steam_name'] }}{% if user['steam_realname'] is not empty %} ({{ user['steam_realname'] }}){% endif %}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
<header class="article-header">
    <h1>Activité Steam</h1>
    <p class="lead">
        <a href="https://steamcommunity.com/profiles/{{ activity[0]['steam_id'] }}/">
            {{ activity[0]['steam_name'] }}{% if activity[0]['steam_realname'] is not empty %} ({{ activity[0]['steam_realname'] }}){% endif %}
        </a>
    </p>
</header>
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        h2 {
            margin-bottom: 20px;
        }

        header.article-header a, header.article-header a:hover {
            color: #1d1d1d;
            text-decoration: none;
        }

        .activity {
            margin: 30px;
            border: solid #ddd 1px;
            border-radius: 5px;
            padding: 0;
        }

        .entry {
            margin: 0;
            padding: 10px;
            border-bottom: solid #ddd 1px;
        }
        .entry:last-child {
            border-bottom: 0;
        }

        .entry .entry-icon {
            font-size: 150%;
            text-align: center;
        }

        .entry h3 {
            font-size: 140%;
        }

        @media (max-width: 503px) {
            .activity {
                margin: 5px;
            }
            .entry, .entry-icon {
                text-align: center !important;
                width: 100% !important;
            }
            
            .entry p .text-muted {
                display: block;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="activity">
        {% for entry in activity %}
        <div class="entry row">
            <div class="col-md-1 col-xs-1 entry-icon">
                {% if entry['state'] == 'OFFLINE' %}
                    <span class="fa fa-user" style="color: gray"></span>
                {% elseif entry['state'] == 'IDLE' %}
                    <span class="fa fa-user" style="color: #306eff"></span>
                {% elseif entry['state'] == 'AWAY' %}
                    <span class="fa fa-coffee" style="color: #8b0d0f"></span>
                {% elseif entry['state'] == 'BUSY' %}
                    <span class="fa fa-bell-shash" style="color: #8b0d0f"></span>
                {% elseif entry['state'] == 'LOOKING_TO_PLAY' %}
                    <span class="fa fa-binoculars" style="color: #306eff"></span>
                {% elseif entry['state'] == 'LOOKING_TO_TRADE' %}
                    <span class="fa fa-money" style="color: #306eff"></span>
                {% elseif entry['state'] == 'IN_GAME' %}
                    {% if entry['game_id'] is not null %}<a href="http://store.steampowered.com/app/{{ entry['game_id'] }}">{% endif %}
                    <span class="fa fa-gamepad" style="color: darkgreen"></span>
                    {% if entry['game_id'] is not null %}</a>{% endif %}
                {% elseif entry['state'] == 'UNAVAILABLE' %}
                    <span class="fa fa-user" style="color: #8b0d0f"></span>
                {% endif %}
            </div>
            <div class="col-md-11 col-xs-12">
                {% spaceless %}
                <h3>
                    {% if entry['state'] == 'OFFLINE' %}
                        <span>Hors-ligne</span>
                    {% elseif entry['state'] == 'IDLE' %}
                        <span>En ligne</span>
                    {% elseif entry['state'] == 'AWAY' %}
                        <span>Absent</span>
                    {% elseif entry['state'] == 'BUSY' %}
                        <span>Occupé</span>
                    {% elseif entry['state'] == 'LOOKING_TO_PLAY' %}
                        <span>Désir jouer</span>
                    {% elseif entry['state'] == 'LOOKING_TO_TRADE' %}
                        <span>Désir échanger</span>
                    {% elseif entry['state'] == 'IN_GAME' %}
                        <span title="ID : {{ entry['game_id'] }}">{{ entry['game_name'] }}</span>
                    {% elseif entry['state'] == 'UNAVAILABLE' %}
                        <span>Indisponible</span>
                    {% endif %}
                </h3>
                {% endspaceless %}
                <p>
                    Pendant
                    {% if entry['duration'] < 3600 %}
                        {{ entry['duration'] // 60 }} minute{% if (entry['duration'] // 60) > 1 %}s{% endif %}
                    {% elseif entry['duration'] < 86400 %}
                        {{ entry['duration'] // 3600 }} heure{% if (entry['duration'] // 3600) > 1 %}s{% endif %} et
                        {{ (entry['duration'] % 3600) // 60 }} minute{% if ((entry['duration'] % 3600) // 60) > 1 %}s{% endif %}
                    {% else %}
                        {{ entry['duration'] // 86400 }} jour{% if (entry['duration'] // 86400) > 1 %}s{% endif %},
                        {{ (entry['duration'] % 86400) // 3600 }} heure{% if ((entry['duration'] % 86400) // 3600) > 1 %}s{% endif %} et
                        {{ (entry['duration'] % 3600) // 60 }} minute{% if ((entry['duration'] % 3600) // 60) > 1 %}s{% endif %}
                    {% endif %}

                    {% if entry['date_begin']|date('d/m/Y') == entry['date_end']|date('d/m/Y')  %}
                        <span class="text-muted">(le {{ entry['date_begin']|date('d/m/Y, \\d\\e H:i') }} à {{ entry['date_end']|date('H:i') }})</span>
                    {% else %}
                        <span class="text-muted">(du {{ entry['date_begin']|date('d/m/Y H:i') }} au {{ entry['date_end']|date('d/m/Y H:i') }})</span>
                    {% endif %}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
