{% extends 'base.html.twig' %}

{% import _self as shortcuts %}

{% block page_title %}{{ activity[0]['steam_name'] }} &middot; Activité {{ record_type|capitalize }}{% endblock %}

{% macro user_button(user, key) %}
    <a href="{{ path('tools.steam', {'key': key, 'record_type': user['record_type'], 'steam_id': user['steam_id']}) }}">
        <div class="row">
            <div class="col-xs-2 state-icon">
                {% if user['state'] == 'OFFLINE' %}
                    <i class="fa fa-user s-offline"></i>
                {% elseif user['state'] == 'IDLE' %}
                    <span class="fa fa-user s-online"></span>
                {% elseif user['state'] == 'MOBILE' %}
                    <span class="fa fa-phone s-online"></span>
                {% elseif user['state'] == 'AWAY' %}
                    <span class="fa fa-coffee s-away"></span>
                {% elseif user['state'] == 'BUSY' %}
                    <span class="fa fa-bell-slash s-away"></span>
                {% elseif user['state'] == 'LOOKING_TO_PLAY' %}
                    <span class="fa fa-binoculars s-online"></span>
                {% elseif user['state'] == 'LOOKING_TO_TRADE' %}
                    <span class="fa fa-money s-online"></span>
                {% elseif user['state'] == 'IN_GAME' %}
                    <span class="fa fa-gamepad s-ingame"></span>
                {% elseif user['state'] == 'UNAVAILABLE' %}
                    <span class="fa fa-user s-away"></span>
                {% endif %}
            </div>
            <div class="col-xs-10">
                {{ user['steam_name'] }}
                {% if user['steam_realname'] is not empty %}
                    <span class="real-name">{{ user['steam_realname'] }}</span>
                {% endif %}
            </div>
        </div>
    </a>
{% endmacro %}

{% block content_header %}
<div class="pull-right">
    {% for tracked_cat, tracked_list in tracked %}
        <button class="btn" id="modal-select-user-{{ tracked_cat }}-button" style="background: #EEE;" role="button" aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#modal-select-user-{{ tracked_cat }}">
            <span class="fa fa-{% if tracked_cat != 'discord' %}{{ tracked_cat }}{% else %}comments-o{% endif %}" title="Sélection d'une personne"></span>
            <span class="caret"></span>
        </button>

        <div class="modal modal-select-user" id="modal-select-user-{{ tracked_cat }}" tabindex="-1" role="dialog" aria-labelledby="modal-select-user-{{ tracked_cat }}-button">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Sélection d'une personne sur {{ tracked_cat|capitalize }}</h4>
                    </div>
                    <div class="modal-body">
                        {% if app['credentials']['steam_favorites'][tracked_cat] %}
                            <ul class="tracked-users-list">
                                {% for user in tracked_list if user['steam_id'] in app['credentials']['steam_favorites'][tracked_cat] %}
                                    <li>
                                        {{ shortcuts.user_button(user, key) }}
                                    </li>
                                {% endfor %}
                            </ul>

                            <hr />
                        {% endif %}
                        <ul class="tracked-users-list">
                            {% for user in tracked_list %}
                                <li>
                                    {{ shortcuts.user_button(user, key) }}
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<header class="article-header">
    <h1>Activité {{ record_type|capitalize }}</h1>
    <p class="lead">
        {% if record_type == 'steam' %}<a href="https://steamcommunity.com/profiles/{{ activity[0]['steam_id'] }}/">{% endif %}
            <span>
                {% if record_type != 'discord' %}
                    {{ activity[0]['steam_name'] }}{% if activity[0]['steam_realname'] is not empty %} ({{ activity[0]['steam_realname'] }}){% endif %}
                {% else %}
                    {% set discriminator = activity[0]['steam_realname']|split('#')[1] %}
                    {{ activity[0]['steam_name'] }}<span class="discriminator">#{{ discriminator }}</span>
                {% endif %}
            </span>
        {% if record_type == 'steam' %}</a>{% endif %}
    </p>
</header>
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        h2 {
            margin-bottom: 20px;
        }

        header.article-header a, header.article-header a:hover {
            color: #1d1d1d;
            text-decoration: none;
        }

        header.article-header .discriminator {
            color: #666;
            font-size: .8em;
        }

        .modal-select-user .modal-dialog {
            width: 60%;
        }

        ul.tracked-users-list {
            list-style-type: none;
        }

        ul.tracked-users-list li {
            display: inline-block;
            margin: .4em 1.6%;
            padding: 0;
            height: 3.8em;
            width: 28%;
        }

        ul.tracked-users-list li a {
            display: inline-block;
            width: 100%;
            height: 100%;
            padding: .6em;
            border: solid 1px #CCC;
            border-radius: 5px;
        }

        ul.tracked-users-list li a:hover {
            text-decoration: none;
            box-shadow: 0 1px 5px #ddd;
        }

        ul.tracked-users-list li a .state-icon {
            text-align: center;
            padding-top: 1px;
        }

        ul.tracked-users-list li a .real-name {
            display: block;
            font-size: small;
            color: gray;
        }

        .activity {
            margin: 30px;
            border: solid #ddd 1px;
            border-radius: 5px;
            padding: 0;
        }

        .entry {
            margin: 0;
            padding: 10px;
            border-bottom: solid #ddd 1px;
        }
        .entry:last-child {
            border-bottom: 0;
        }

        .entry .entry-icon {
            font-size: 150%;
            text-align: center;
        }

        .entry h3 {
            font-size: 140%;
        }

        .discord-game {
            font-size: small;
            margin-top: -0.4em;
            color: #666;
        }

        .s-offline { color: gray;      }
        .s-online  { color: #306eff;   }
        .s-away    { color: #8b0d0f;   }
        .s-ingame  { color: darkgreen; }

        .dropdown-menu a {
            position: relative !important;
            padding-right: 48px !important;
        }
        .dropdown-menu a .fa {
            position: relative !important;
            right: -35px;
            text-align: center;
        }

        @media (max-width: 503px) {
            .activity {
                margin: 5px;
            }
            .entry, .entry-icon {
                text-align: center !important;
                width: 100% !important;
            }

            .entry p .text-muted {
                display: block;
            }

            .modal-select-user .modal-dialog {
                width: 95%;
            }

            ul.tracked-users-list li {
                width: 88%;
            }
        }
    </style>
{% endblock %}

{% block content %}
    <div class="activity">
        {% for entry in activity %}
        <div class="entry row">
            <div class="col-md-1 col-xs-1 entry-icon">
                {% if entry['state'] == 'OFFLINE' %}
                    <span class="fa fa-user s-offline"></span>
                {% elseif entry['state'] == 'IDLE' %}
                    <span class="fa fa-user s-online"></span>
                {% elseif entry['state'] == 'MOBILE' %}
                    <span class="fa fa-phone s-online"></span>
                {% elseif entry['state'] == 'AWAY' %}
                    <span class="fa fa-coffee s-away"></span>
                {% elseif entry['state'] == 'BUSY' %}
                    <span class="fa fa-bell-slash s-away"></span>
                {% elseif entry['state'] == 'LOOKING_TO_PLAY' %}
                    <span class="fa fa-binoculars s-online"></span>
                {% elseif entry['state'] == 'LOOKING_TO_TRADE' %}
                    <span class="fa fa-money s-online"></span>
                {% elseif entry['state'] == 'IN_GAME' %}
                    {% if entry['game_id'] is not null %}<a href="http://store.steampowered.com/app/{{ entry['game_id'] }}">{% endif %}
                    <span class="fa fa-gamepad s-ingame"></span>
                    {% if entry['game_id'] is not null %}</a>{% endif %}
                {% elseif entry['state'] == 'UNAVAILABLE' %}
                    <span class="fa fa-user s-away"></span>
                {% endif %}
            </div>
            <div class="col-md-11 col-xs-12">
                {% spaceless %}
                <h3>
                    {% if entry['state'] == 'OFFLINE' %}
                        <span>Hors-ligne</span>
                    {% elseif entry['state'] == 'IDLE' %}
                        <span>En ligne</span>
                    {% elseif entry['state'] == 'MOBILE' %}
                        <span>Sur téléphone</span>
                    {% elseif entry['state'] == 'AWAY' %}
                        <span>Absent</span>
                    {% elseif entry['state'] == 'BUSY' %}
                        <span>Occupé</span>
                    {% elseif entry['state'] == 'LOOKING_TO_PLAY' %}
                        <span>Désir jouer</span>
                    {% elseif entry['state'] == 'LOOKING_TO_TRADE' %}
                        <span>Désir échanger</span>
                    {% elseif entry['state'] == 'IN_GAME' %}
                        <span title="ID : {{ entry['game_id'] }}">{{ entry['game_name'] }}</span>
                    {% elseif entry['state'] == 'UNAVAILABLE' %}
                        <span>Indisponible</span>
                    {% endif %}
                </h3>
                {% endspaceless %}
                {% if entry['state'] != 'IN_GAME' and entry['game_name'] %}
                <p class="discord-game">
                    Joue à <span>{{ entry['game_name'] }}</span>
                </p>
                {% endif %}
                <p>
                    Pendant
                    {% if entry['duration'] < 3600 %}
                        {{ entry['duration'] // 60 }} minute{% if (entry['duration'] // 60) > 1 %}s{% endif %}
                    {% elseif entry['duration'] < 86400 %}
                        {{ entry['duration'] // 3600 }} heure{% if (entry['duration'] // 3600) > 1 %}s{% endif %} et
                        {{ (entry['duration'] % 3600) // 60 }} minute{% if ((entry['duration'] % 3600) // 60) > 1 %}s{% endif %}
                    {% else %}
                        {{ entry['duration'] // 86400 }} jour{% if (entry['duration'] // 86400) > 1 %}s{% endif %},
                        {{ (entry['duration'] % 86400) // 3600 }} heure{% if ((entry['duration'] % 86400) // 3600) > 1 %}s{% endif %} et
                        {{ (entry['duration'] % 3600) // 60 }} minute{% if ((entry['duration'] % 3600) // 60) > 1 %}s{% endif %}
                    {% endif %}

                    {% if entry['date_begin']|date('d/m/Y') == entry['date_end']|date('d/m/Y')  %}
                        <span class="text-muted">(le {{ entry['date_begin']|date('d/m/Y, \\d\\e H:i') }} à {{ entry['date_end']|date('H:i') }})</span>
                    {% else %}
                        <span class="text-muted">(du {{ entry['date_begin']|date('d/m/Y H:i') }} au {{ entry['date_end']|date('d/m/Y H:i') }})</span>
                    {% endif %}
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
