{% extends 'base.html.twig' %}

{% block page_title %}Générateur des permissions du plugin.yml ⋅ Minecraft{% endblock %}

{% block content_title %}Générateur de permissions{% endblock %}
{% block content_subtitle %}Permissions de Bukkit dans le fichier plugin.yml{% endblock %}

{% block stylesheets %}

    <style type="text/css">

        ol.linenums li {
            text-shadow: none;
            font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
            font-size: 12px !important;
        }

        .com { color: #969896; }
        .lit { color: #195f91; }
        .pun, .opn, .clo { color: #333333; }
        .fun { color: #dc322f; }
        .str, .atv { color: #183691; }
        .kwd, .linenums .tag { color: #A71D5D; }
        .typ, .atn, .dec, .var { color: #795DA3; }
        .pln { color: #333333; }

        .tab-pane > .prettyprint {
            border-top: none;

            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }

        fieldset legend {
            border-bottom: #bdbdbd solid 1px;
        }

    </style>

{% endblock %}

{% block container_content %}
{% if generated %}
    <div class="container-content submit-form">
        <h3>Code généré</h3>

        <p>
            Vous trouverez ci-dessous deux codes générés : la portion du <code>plugin.yml</code> décrivant les permissions, et une énumération Java proposée, permettant de simplifier l'usage des permissions durant le développement de votre plugin.
        </p>

        <ul class="nav nav-tabs">
            <li class="active"><a href="#yaml" data-toggle="tab">Permissions dans le fichier plugin.yml</a></li>
            <li><a href="#enum" data-toggle="tab">Énumération Java</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="yaml">
                <pre class="prettyprint linenums">{{ generated_yaml }}</pre>
            </div>

            <div class="tab-pane" id="enum">
                <pre class="prettyprint linenums">{{ generated_java }}</pre>
            </div>
        </div>

        <div class="form-group" style="margin-top: 20px;">
            <label for="share_link">Partager cette génération</label>
            <div class="input-group">
                <span class="input-group-addon"><span class="fa fa-share"></span></span>
                <input type="text" value="{{ url('tools.bukkit.permissions') }}?data={{ raw_base64 }}&amp;o={{ options }}" onclick="this.select()" class="form-control" id="share_link" />
            </div>
        </div>
    </div>
{% endif %}

<div class="container-content submit-form">
    <form class="form-horizontal" style="margin-bottom: 0;" method="post">
        <fieldset>
            <legend>Entrez les permissions à générer</legend>
            <div>
                <label for="raw_permissions" style="font-weight: normal; width: 100%;">
                    <p>Entrez une permission par ligne, sous la forme : </p>
                    <pre>permission.complete.jusquau.bout : attribution par défaut : Description de la permission</pre>
                    <p>...où l'attribution est <code>true</code>, <code>false</code>, <code>op</code> ou <code>non op</code>. Vous pouvez omettre l'attribution (et ne séparer que par <code>:</code>).</p>
                    <p>Ne rentrez pas les permissions intermédiaires (par exemple <code>permission.*</code>).</p>
                </label>

                <textarea name="raw_permissions" id="raw_permissions" rows="15" class="form-control" style="font-family: monospace">{{ raw }}</textarea>
            </div>

            <div style="margin-top: 20px;" class="checkbox">
                <label>
                    <input type="checkbox" name="from_yml" value="" disabled>
                    Importer depuis un fichier <code>plugin.yml</code>
                    <span class="help-block">Si cette case est cochée, vous devez entrer un fichier <code>plugin.yml</code> contenant au moins la section <code>permissions</code> ; les permissions seront extraites et la section de permissions sera reconstruite, avec tous les héritages. Cette fonctionnalité n'est pas encore disponible.</span>
                </label>
            </div>
        </fieldset>

        <fieldset style="margin-top: 30px;">
            <legend>Vous pouvez configurer un peu la génération</legend>

            <fieldset>
                <div class="form-group">
                    <label for="add_comments" class="col-sm-2 control-label">
                        Commentaires
                    </label>
                    <div class="col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" id="add_comments" name="add_comments"{% if add_comments %} checked{%endif %}>
                                Ajouter des commentaires pour séparer les sections
                            </label>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="powered_comment"{% if not generated or powered_comment %} checked{% endif %}>
                                Ajouter un commentaire d'attribution liant vers ce service de génération
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset style="margin-top: 20px;">
                <div class="form-group">
                    <label for="parents_description" class="col-sm-2 control-label">
                        Description des parents
                    </label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" name="parents_description" id="parents_description" value="{{ parents_description }}" />

                        <span class="help-block">
                            Permet de spécifier une description pour les permissions parentes (étoilées — par exemple <code>permission.*</code>) générées.<br />
                            La description sera toujours la même, libre à vous bien entendu de la modifier par la suite à la main.
                        </span>
                    </div>
                </div>
            </fieldset>

            <fieldset style="margin-top: 20px;">
                <div class="form-group">
                    <label for="default_grant" class="col-sm-2 control-label">
                        Attribution par défaut
                    </label>
                    <div class="col-sm-10">
                        <select name="default_grant" id="default_grant" class="form-control">
                            <option value="true"{% if default_grant == 'true' %} selected{% endif %}>Tout le monde</option>
                            <option value="false"{% if default_grant == 'false' %} selected{% endif %}>Personne</option>
                            <option value="op"{% if not generated or default_grant == 'op' %} selected{% endif %}>Opérateurs</option>
                            <option value="non op"{% if default_grant == 'non op' %} selected{% endif %}>Non-opérateurs</option>
                        </select>

                        <span class="help-block">
                            Précise l'attribution par défaut des permissions pour lesquelles elle n'est pas précisée (format <code>permission.name:Description</code>).
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="parent_permissions_grant" class="col-sm-2 control-label">
                        Attribution des permissions parentes
                    </label>
                    <div class="col-sm-10">
                        <select name="parent_permissions_grant" id="parent_permissions_grant" class="form-control">
                            <option value="true"{% if parent_permissions_grant == 'true' %} selected{% endif %}>Tout le monde</option>
                            <option value="false"{% if parent_permissions_grant == 'false' %} selected{% endif %}>Personne</option>
                            <option value="op"{% if not generated or parent_permissions_grant == 'op' %} selected{% endif %}>Opérateurs</option>
                            <option value="non op"{% if parent_permissions_grant == 'non op' %} selected{% endif %}>Non-opérateurs</option>
                        </select>

                        <span class="help-block">
                            Précise l'attribution des permissions parentes générées.
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label for="default_children_inheritance" class="col-sm-2 control-label">
                        Attribution des enfants
                    </label>
                    <div class="col-sm-10">
                        <select name="default_children_inheritance" id="default_children_inheritance" class="form-control">
                            <option value="true"{% if not generated or default_children_inheritance == 'true' %} selected{% endif %}>Héritée</option>
                            <option value="false"{% if default_children_inheritance == 'false' %} selected{% endif %}>Exclue</option>
                            <option value="op"{% if default_children_inheritance == 'op' %} selected{% endif %}>Opérateurs</option>
                            <option value="non op"{% if default_children_inheritance == 'non op' %} selected{% endif %}>Non-opérateurs</option>
                        </select>

                        <span class="help-block">
                            Précise l'attribution par défaut des permissions enfant, si les permissions étoilées sont utilisées.<br />
                            Avec «&nbsp;Héritée&nbsp;», la permission sera accordée à toute personne ayant la permission étoilée.<br />
                            Avec «&nbsp;Exclue&nbsp;», la permission sera explicitement refusée même aux personnes ayant la permission étoilée. Elle devra être donnée directement.
                        </span>
                    </div>
                </div>
            </fieldset>
        </fieldset>

        <fieldset style="margin-top: 30px;">
            <input type="submit" value="Générer la section «&nbsp;permissions&nbsp;» du plugin.yml" class="btn btn-primary btn-large col-sm-12" />
        </fieldset>
    </form>
</div>

{% endblock %}

